{% load mathfilters %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Trivia | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="../../static/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../static/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../static/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">

        <!-- Logo -->
        <a href="/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>T</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Trivia</b></span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Home</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="/trivias">
                        <i class="fa fa-files-o"></i>
                        <span>Trivias</span><i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/trivias"><i class="fa fa-circle-o"></i> List</a></li>
                        <li><a href="/trivias/create"><i class="fa fa-circle-o"></i>Create</a></li>
                    </ul>
                </li>
                {#        <li class="treeview">#}
                {#          <a href="/players">#}
                {#            <i class="fa fa-pie-chart"></i>#}
                {#            <span>Players</span>#}
                {#          </a>#}
                {#        </li>#}
                {#        <li class="treeview">#}
                {#            <a href="/winners">#}
                {#                <i class="fa fa-pie-chart"></i>#}
                {#                <span>Draw Winners</span>#}
                {#            </a>#}
                {#        </li>#}
                {#        <li class="treeview">#}
                {#            <a href="/reports">#}
                {#                <i class="fa fa-book"></i>#}
                {#                <span>Reports</span>#}
                {#            </a>#}
                {#        </li>#}
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Daily Trivia Users</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-box-tool dropdown-toggle"
                                            data-toggle="dropdown">
                                        <i class="fa fa-wrench"></i></button>
                                </div>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center">
                                        <strong>Today: {{ today }}</strong>
                                    </p>

                                    <div class="chart">
                                        <!-- Daily Attempts Chart Canvas -->
                                        <canvas id="attemptsChart" style="height: 180px;"></canvas>
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Daily Trivia Attempts</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-box-tool dropdown-toggle"
                                            data-toggle="dropdown">
                                        <i class="fa fa-wrench"></i></button>
                                </div>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center">
                                        <strong>Today: {{ today }}</strong>
                                    </p>

                                    <div class="chart">
                                        <!-- Daily Responses Chart Canvas -->
                                        <canvas id="responsesChart" style="height: 180px;"></canvas>
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <div class="col-md-7">
                    <!-- MAP & BOX PANE -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Trivias</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        {% if latest_users.count > 0 %}
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table class="table no-margin">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Short Code</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for trivia in trivias.all %}
                                            <tr>
                                                <td><a href="/trivias/{{ trivia.id }}/update">{{ trivia.name }}</a></td>
                                                <td>{{ trivia.short_code }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% else %}
                            <div class="text-center">
                                <span style="font-size: 64px"><i class="ion ion-sad-outline"></i></span>
                                <h4>NO TRIVIAS YET!!!</h4>
                            </div>
                        {% endif %}
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <a href="/trivias/create" class="btn btn-sm btn-info btn-flat pull-right">Create New
                                Trivia</a>
                            {% if trivias.count > 0 %}
                                <a href="/trivias" class="btn btn-sm btn-default btn-flat pull-left">View All
                                    Trivias</a>
                            {% endif %}
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-danger">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Latest Players</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                                class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                {% if latest_users.count > 0 %}
                                    <div class="box-body no-padding">
                                        <ul class="users-list clearfix">
                                            {% for user in latest_users %}
                                                <li>
                                                    <a class="users-list-name" href="#">{{ user.msisdn }}</a>
                                                    <span class="users-list-date">{{ user.date_created }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <!-- /.users-list -->
                                    </div>
                                    <!-- /.box-body -->
                                {% else %}
                                    <div class="text-center">
                                        <span style="font-size: 64px"><i class="ion ion-sad-outline"></i></span>
                                        <h4>NO ONE HAS PLAYED YET!!!</h4>
                                    </div>
                                    <div class="box-footer text-center">
                                        <a href="javascript:void(0)" class="uppercase">View All Users</a>
                                    </div>
                                {% endif %}
                                <!-- /.box-footer -->
                            </div>
                        </div>
{#                        <div class="col-md-6">#}
{#                            <div class="box box-default">#}
{#                                <div class="box-header with-border">#}
{#                                    <h3 class="box-title">User Score Card</h3>#}
{##}
{#                                    <div class="box-tools pull-right">#}
{#                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i#}
{#                                                class="fa fa-minus"></i>#}
{#                                        </button>#}
{#                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i#}
{#                                                class="fa fa-times"></i></button>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!-- /.box-header -->#}
{#                                <div class="box-body">#}
{#                                    <div class="row">#}
{#                                        <div class="col-md-0">#}
{#                                            <div class="chart-responsive">#}
{#                                                <canvas id="pieChart" height="150"></canvas>#}
{#                                            </div>#}
{#                                            <!-- ./chart-responsive -->#}
{#                                        </div>#}
{#                                        <!-- /.col -->#}
{#                                        <div class="col-md-12">#}
{#                                            {% for card in score_card %}#}
{#                                                <!-- /.progress-group -->#}
{#                                                <div class="progress-group">#}
{#                                                    <span class="progress-text">{{ card.msisdn }}</span>#}
{#                                                    <span class="progress-number"><b>{{ card.score }}</b>/{{ card.attempt_responses.count }}</span>#}
{##}
{#                                                    <div class="progress sm">#}
{#                                                        <div class="progress-bar progress-bar-green"#}
{#                                                             style="width: {{ card.score|mul:100 |div:card.attempt_responses.count }}%"></div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            {% endfor %}#}
{#                                            <!-- /.progress-group -->#}
{#                                        </div>#}
{#                                        <!-- /.col -->#}
{#                                    </div>#}
{#                                    <!-- /.row -->#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
                <!-- /.col -->

                <div class="col-md-5">
                    <!-- Info Boxes Style 2 -->
                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="ion ion-compose"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Total Attempts</span>
                            <span class="info-box-number">{{ attempts.count }}</span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 100%"></div>
                            </div>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    <div class="info-box bg-green">
                        <span class="info-box-icon"><i class="ion ion-ios-person-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Total Trivias</span>
                            <span class="info-box-number">{{ trivias.count }}</span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 100%"></div>
                            </div>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    <div class="info-box bg-red">
                        <span class="info-box-icon"><i class="ion ion-ios-book-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Total Questions Answered</span>
                            <span class="info-box-number">{{ responses.count }}</span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 100%"></div>
                            </div>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><i class="ion ion-ios-people-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Draw Winners</span>
                            <span class="info-box-number">{{ winners.count }}</span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 100%"></div>
                            </div>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 0.0.1
        </div>
        <strong>Copyright &copy; {{ year }}.</strong> All rights
        reserved.
    </footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.0 -->
<script src="../../static/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../../static/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../static/dist/js/app.min.js"></script>
<!-- Sparkline -->
<script src="../../static/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="../../static/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../../static/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="../../static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS 1.0.1 -->
<script src="../../static/plugins/chartjs/Chart.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../../static/dist/js/pages/dashboard2.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../static/dist/js/demo.js"></script>
</body>
</html>
