<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trivia Manager | Questions</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../static/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../static/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>T</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Trivia Manager</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
        <li class="active treeview">
          <a href="/">
            <i class="fa fa-dashboard"></i> <span>Home</span>
          </a>
        </li>
        <li class="treeview">
          <a href="/trivias">
            <i class="fa fa-files-o"></i>
            <span>Trivias</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
              <li><a href="/trivias"><i class="fa fa-circle-o"></i> List</a></li>
            <li><a href="/trivias/create"><i class="fa fa-circle-o"></i>Create</a></li>
          </ul>
        </li>
{#        <li class="treeview">#}
{#          <a href="/players">#}
{#            <i class="fa fa-pie-chart"></i>#}
{#            <span>Players</span>#}
{#          </a>#}
{#        </li>#}
{#        <li class="treeview">#}
{#            <a href="/winners">#}
{#                <i class="fa fa-pie-chart"></i>#}
{#                <span>Draw Winners</span>#}
{#            </a>#}
{#        </li>#}
        <li class="treeview">
            <a href="/reports">
                <i class="fa fa-book"></i>
                <span>Reports</span>
            </a>
        </li>
      </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Questions
                <small>detailed list of trivia questions for <b>{{ trivia.name }}</b></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="{% url 'update-trivia' trivia.id %}" class="active">Trivia</a></li>
                <li><a href="#" class="active">Questions</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- /.row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Objects List</h3>

                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <a type="button" href="/trivias/{{ trivia.pk }}/questions/create" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add question</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        {% if questions.count > 0 %}
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>Position</th>
                                    <th>Problem</th>
                                    <th>Choices</th>
                                </tr>
                                {% for question in questions.all %}
                                    <tr>
                                        <td>{{ question.position }}</td>
                                        <td><a href="/questions/{{ question.id }}/update">{{ question.problem }}</a></td>
                                        <td>
                                            {% for c in question.choices.all %}
                                                {{ c.code }} - {{ c.value }}<br>
                                            {% endfor %}
                                         </td>
                                    </tr>

                                {% endfor %}
                            </table>
                        </div>
                        {% else %}
                            <div class="register-box-msg text-center">
                                <span style="font-size: 125px"><i class="ion ion-sad-outline"></i></span>
                                <h4>NO QUESTIONS ANSWERED YET!!!</h4>
                            </div>
                        {% endif %}
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 0.0.1
        </div>
        <strong>Copyright &copy; {{ year }}.</strong> All rights
        reserved.
    </footer>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.0 -->
<script src="../../static/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
<!-- Slimscroll -->
<script src="../../static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../static/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../static/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../static/dist/js/demo.js"></script>
</body>
</html>
