<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Fanta Trivia Manager | Edit Question</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../static/bootstrap/css/datepicker.css">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../static/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="../../static/dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>T</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Trivia</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="active treeview">
          <a href="/">
            <i class="fa fa-dashboard"></i> <span>Home</span>
          </a>
        </li>
        <li class="treeview">
          <a href="/trivias">
            <i class="fa fa-files-o"></i>
            <span>Trivias</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
              <li><a href="/trivias"><i class="fa fa-circle-o"></i> List</a></li>
            <li><a href="/trivias/create"><i class="fa fa-circle-o"></i>Create</a></li>
          </ul>
        </li>
{#        <li class="treeview">#}
{#          <a href="/players">#}
{#            <i class="fa fa-pie-chart"></i>#}
{#            <span>Players</span>#}
{#          </a>#}
{#        </li>#}
{#        <li class="treeview">#}
{#            <a href="/winners">#}
{#                <i class="fa fa-pie-chart"></i>#}
{#                <span>Draw Winners</span>#}
{#            </a>#}
{#        </li>#}
{#        <li class="treeview">#}
{#            <a href="/reports">#}
{#                <i class="fa fa-book"></i>#}
{#                <span>Reports</span>#}
{#            </a>#}
{#        </li>#}
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Questions
        <small>update question</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/trivias/{{ trivia.pk }}/questions">Questions</a></li>
        <li class="active">Update</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-primary">
            <!-- form start -->
            <form role="form" method="post" action="{{ request.path }}">{% csrf_token %}
              <div class="box-body">
                <div class="form-group">
                  <label for="name">Position</label>
                  <input type="number" class="form-control" id="position"  name="position" value="{{ question.position }}" placeholder="Question Position" required>
                </div>
                <div class="form-group">
                  <label for="name">Problem</label>
                  <textarea class="form-control" id="problem"  name="problem" placeholder="What is the Problem?" required>{{ question.problem }}</textarea>
                </div>
                <div class="form-group">
                  <label for="name">Incorrect Response</label>
                 <textarea class="form-control" id="incorrect_response"  name="incorrect_response" placeholder="What is the Incorrect Response?" required>{{ question.incorrect_response }}</textarea>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                  <a href="{% url 'delete-question' question.id %}" class="btn btn-danger pull-left">Delete</a>
                  <button type="submit" class="btn btn-primary pull-right">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
        </div>
        <div class="col-md-4">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header">
                <div class="input-group input-group-sm pull-right" style="width: 150px;">
                    <a type="button" href="/questions/{{ question.id }}/choices" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add Choice</a>
                </div>
            </div>
            <table class="table table-hover">
                <tr>
                    <th>Code</th>
                    <th>Value</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for choice in question.choices.all %}
                    <tr>
                        <td><a href="/choices/{{ choice.id }}/update">{{ choice.code }}</a></td>
                        <td>{{ choice.value }}</td>
                        <td>
                            {% if not choice.is_valid %}
                                <a href="{% url 'change-choice' choice.id %}" class="btn btn-success btn-xs pull-left">Mark as Correct</a>
                            {% endif %}
                        </td>
                        <td>
                            <div class="tools pull-right">
                                <a href="/choices/{{ choice.id }}/update" ><i class="fa fa-edit"></i></a>
                                <a href="{% url 'delete_choice' choice.id %}" ><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
          </div>
        </div>
        <!--/.col (left) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.0.1
    </div>
    <strong>Copyright &copy; {{ year }}.</strong> All rights
    reserved.
  </footer>
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.0 -->
<script src="../../static/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../../static/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../static/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../static/dist/js/demo.js"></script>
<script src="../../static/bootstrap/js/bootstrap-datepicker.js"></script>
<script>
    // When the document is ready
    $(document).ready(function () {

        $('#launch_date').datepicker({
            format: "dd/mm/yyyy"
        });

        $('#expiry_date').datepicker({
            format: "dd/mm/yyyy"
        });

    });
</script>
</body>
</html>
